@inject InvestmentGame.Client.Services.LanguageFactory Lang

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>@Lang.T("PAGE_NOT_FOUND_TITLE")</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">@Lang.T("PAGE_NOT_FOUND_MSG")</p>
        </LayoutView>
    </NotFound>
</Router>
